# SQL functions

### Aliases

The primary purpose of table aliases, aside from cases where they are required, is to make SQL queries *easier to read and understand*.

```mysql
SELECT numbers.number, Coalesce(Names.NameForFrequency,'frequently') AS HowManyTimes  
FROM 
    (VALUES(0),(1),(2),(3),(4),(5)) AS numbers(number)
LEFT OUTER join
    (VALUES(0,'never'),(1,'once'),(2,'twice'),(3,'thrice')) AS Names(number,NameForFrequency)
ON numbers.number=Names.number
```

Aliases are required when:
- The name of the base table has **illegal characters** in it. ‘@’ isn’t legal at the start of a table name qualifier, so table variables are a problem. For example, if you don’t give a table variable an alias, then you must provide the square bracket delimiters to refer to it by its full name. Of course, if the table really has illegal characters, then a table alias provides a blessed relief from those pesky square brackets.
- you are referencing a **table source that doesn’t have a name**, such as a derived table or rowset function
- you are using a named table source, such as a table, view or table-valued function, **more than once in the same query**

---
### Qualifiers

There are many qualifiers in SQL, which can include database, schema, table, or view. You can think of a qualifier as being similar to a *namespace*. As such, the qualifier helps identify a database entity because, within a namespace, no two objects can have the same name.

Rules for qualifier names are similar to those of columns, but can differ based on the specific database product.
Here are some examples of valid qualifiers:
- `db_name.tbl_name.col_name`
- `tbl_name`
- \`db_name\`.\`tbl_name\`.\`col_name\`
- \`db_name\` . \`tbl_name\`
- `db_name`. `tbl_name`

---
### Views

A view is a *SQL statement that is stored in the database with an associated name*. A view is actually a composition of a table in the form of a predefined SQL query.

Views, which are a type of virtual tables allow users to do the following:
- Structure data in a way that users or classes of users find natural or intuitive
- Restrict access to the data in such a way that a user can see and (sometimes) modify exactly what they need and no more.
- Summarize data from various tables which can be used to generate reports.

Database views are created using the **CREATE VIEW** statement. Views can be created from a single table, multiple tables or another view.

The basic **CREATE VIEW** syntax is as follows:

```mysql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];```

Following is an example to create a view from the CUSTOMERS table. This view would be used to have customer name and age from the CUSTOMERS table.

```mysql
SQL > CREATE VIEW CUSTOMERS_VIEW AS
SELECT name, age
FROM  CUSTOMERS;
```
Now, you can query CUSTOMERS_VIEW in a similar way as you query an actual table. Following is an example for the same.
```mysql
SELECT * FROM CUSTOMERS_VIEW;
```

The **WITH CHECK OPTION** is a CREATE VIEW statement option. The purpose of the **WITH CHECK OPTION** is to ensure that all UPDATE and INSERTs satisfy the condition(s) in the view definition.

If they do not satisfy the condition(s), the UPDATE or INSERT returns an error.

The following code block has an example of creating same view CUSTOMERS_VIEW with the **WITH CHECK OPTION**.

```mysql
CREATE VIEW CUSTOMERS_VIEW AS
SELECT name, age
FROM  CUSTOMERS
WHERE age IS NOT NULL
WITH CHECK OPTION;
```
The **WITH CHECK OPTION** in this case should deny the entry of any NULL values in the view's AGE column, because the view is defined by data that does not have a NULL value in the AGE column.

A view can be:
- updated under certain conditions,
- dropped

---
### The TABLE variable

The **table variable** is a special type of the local variable that helps to store data temporarily, similar to the temp table in SQL Server. In fact, the **table variable** provides all the properties of the local variable, but the local variables have some limitations, unlike temp or regular tables.

`<To be completed>`

---
### WINDOW functions

Use this link to refresh the key concepts: https://www.windowfunctions.com/questions/over/

**Window functions** perform calculations on a set of rows that are related together. But, unlike the aggregate functions, windowing functions do not collapse the result of the rows into a single value. Instead, all the rows maintain their original identity and the calculated result is returned for every row.

For example, if I were to display the total salary of employees along with every row value, it would look something like this:
```mysql
SELECT *,
SUM(salary) OVER() as total_salary
FROM emp;
```
The **OVER** clause signifies a window of rows over which a window function is applied. It can be used with:
- aggregate functions, like we have used with the SUM function here, thereby turning it into a window function 
- non-aggregate functions that are only used as window functions

The syntax for defining a simple window function that outputs the same value for all rows is as follows:

<center> window_function_name(<expression>) OVER ( ) </center>

The **PARTITION BY** clause is used in conjunction with the OVER clause. It breaks up the rows into different partitions. These partitions are then acted upon by the window function.

For example, to display the total salary per job category for all the rows we would have to modify our original SQL query as follows:
```mysql
SELECT *,
SUM(salary) OVER(PARTITION BY job) as total_job_salary
from exp;
```
The *total_job_salary* column depicts the sum of sales for that specific job category and not for the entire table.
The syntax for defining window function for the partition of rows is as follows:
<center>window_function_name(<expression>) OVER (<partition_by_clause>)</center>

We know that to arrange rows in a table, we can use the **ORDER BY** clause. So, to arrange rows within each partition, we have to modify the **OVER** clause with the **ORDER BY** clause.
```mysql
SELECT *,
SUM(salary) OVER(PARTITION BY job ORDER BY salary DESC) as total_job_salary
from exp;
```
The rows have been partitioned as per their job category as indicated by the `job` column. The `salary` column has been ordered in descending order and the `ordered_job_salary` column depicts the **running total** of the job category (starting over after every partition).

So, the syntax for defining window function for the partition of rows and arranging them in order is as follows:
<center>window_function_name(<expression>) OVER (<partition_by_clause> <order_clause>)</center>

Bibliography:
- Aliases: https://www.red-gate.com/hub/product-learning/sql-prompt/using-aliases-in-sql-prompt
- Qualifiers: https://www.quora.com/What-are-the-qualifiers-in-SQL-and-how-should-I-use-them
- Views: https://www.tutorialspoint.com/sql/sql-using-views.htm
- The TABLE variable: https://www.sqlshack.com/the-table-variable-in-sql-server/
- Window functions: https://www.analyticsvidhya.com/blog/2020/12/window-function-a-must-know-sql-concept/- Window functions - execises: https://www.windowfunctions.com/questions/over/